/* .course {
  background-image: url('https://png.pngtree.com/background/20210712/original/pngtree-color-technology-sense-creative-integrated-circuit-background-picture-image_1175268.jpg'),
    linear-gradient(rgba(255, 255, 255, 0.986), rgb(175, 1, 1));
} */
.cart {
  /* background-color: gray; */
  height: 600px;
  border: 1px solid #001a33;
}
/* .img {
  height: 200px;
  width: 200px;
} */
