.items {
  list-style: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  position: relative;
}
.items:hover {
  color: black;
  background-color: rgb(255, 238, 4);
  padding: 5px;
  border-radius: 10px;
  /* position: absolute; */
  transition: 0.9s;
}
.MenuBar-container {
  background-color: #001a33;
  padding: 10px;
  color: rgb(216, 209, 209);
}
